# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.next/
out/
dist/
*.log
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# docker volume
/volume

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# python
__pycache__/
*.py[cod]
*$py.class
venvdoska/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# -------------------
# Flutter
# -------------------
# Built application files
build/
dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/build/
*.iml
*.hprof
*.lock

# Editor directories
.idea/
.vscode/
.DS_Store

# -------------------
# General
# -------------------
*.swp
*.swo
*.DS_Store
*.log
*.tmp
*.bak

celerybeat-schedule
/backend/local/
